In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('dataset/matches_with_weather.csv')

# Display basic information about the dataset
print("Dataset Info:")
print(data.info())
print("\nFirst 5 rows of the dataset:")
print(data.head())

# Check for missing values
print("\nMissing Values:")
print(data.isnull().sum())

# Check for duplicate rows
print("\nNumber of duplicate rows:", data.duplicated().sum())

# Basic statistical summary
print("\nStatistical Summary:")
print(data.describe())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      380 non-null    object
 1   HomeTeam  380 non-null    object
 2   Result    380 non-null    object
 3   AwayTeam  380 non-null    object
 4   year      380 non-null    int64
 5   month     380 non-null    int64
 6   tmax      380 non-null    float64
 7   tmin      380 non-null    float64
 8   af        380 non-null    float64
 9   rain      380 non-null    float64
 10  sun       380 non-null    float64
dtypes: float64(5), int64(2), object(4)
memory usage: 32.8+ KB
None

First 5 rows of the dataset:
         Date        HomeTeam Result                  AwayTeam  year  month  \
0  2021-08-13       Brentford    2:0                   Arsenal  2021      8
1  2021-08-14         Burnley    1:2  Brighton and Hove Albion  2021      8
2  2021-08-14         Chelsea    3:0            Crystal Palace  2021      8
3  2021-08-14         Everton    3:1               Southampton  2021      8
4  2021-08-14  Leicester City    1:0   Wolverhampton Wanderers  2021      8

   tmax  tmin   af  rain     sun
0  21.3  13.2  0.0  65.6  172.65
1  21.3  13.2  0.0  65.6  172.65
2  21.3  13.2  0.0  65.6  172.65
3  21.3  13.2  0.0  65.6  172.65
4  21.3  13.2  0.0  65.6  172.65

Missing Values:
Date        0
HomeTeam    0
Result      0
AwayTeam    0
year        0
month       0
tmax        0
tmin        0
af          0
rain        0
sun         0
dtype: int64

Number of duplicate rows: 0

Statistical Summary:
              year       month        tmax        tmin          af  \
count   380.000000  380.000000  380.000000  380.000000  380.000000
mean   2021.518421    6.571053   12.672544    5.309474    2.959649
std       0.500319    3.822956    4.260887    3.137696    2.085908
min    2021.000000    1.000000    7.800000    2.566667    0.000000
25%    2021.000000    3.000000    8.200000    2.866667    0.916667
50%    2022.000000    5.000000   12.633333    4.566667    2.666667
75%    2022.000000   10.000000   17.033333    6.950000    4.666667
max    2022.000000   12.000000   21.300000   13.200000    6.500000

             rain         sun
count  380.000000  380.000000
mean    78.606053  115.192632
std     43.830235   60.248819
min     21.400000   36.350000
25%     41.066667   54.400000
50%     71.933333   92.950000
75%    126.500000  172.650000
max    139.800000  217.050000

In [7]:
# Import necessary libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load datasets
df_players = pd.read_csv('dataset/manchester_city_player_stats.csv')
df_matches = pd.read_csv('dataset/matches_with_weather.csv')

# Step 1: Create Goals_per_Appearance if not exists
if 'Goals_per_Appearance' not in df_players.columns:
    df_players['Goals_per_Appearance'] = df_players['Goals'] / df_players['Apearances'].replace(0, 1)  # Avoid division by zero

# Step 2: Aggregate player stats by season (year)
player_stats_by_year = df_players.groupby(['Player', 'Position'])\
    .agg({
        'Apearances': 'sum',
        'Goals': 'sum',
        'Penalties': 'sum',
        'YellowCards': 'sum',
        'RedCards': 'sum',
        'Goals_per_Appearance': 'mean'
    }).reset_index()

# Step 3: Add year column to player stats (assuming data is for 2021-2022)
player_stats_by_year['year'] = 2021  # Adjust based on your data

# Step 4: Filter matches for Manchester City only
df_mc_matches = df_matches[
    (df_matches['HomeTeam'] == 'Manchester City') | 
    (df_matches['AwayTeam'] == 'Manchester City')
].copy()

# Step 5: Merge with matches dataset
merged_df = df_mc_matches.merge(
    player_stats_by_year,
    on='year',
    how='left'
)

# Step 6: Display the merged dataset
print("✅ Merged Dataset Info:")
print(merged_df.info())
print("\nFirst 5 rows of the merged dataset:")
print(merged_df.head())

# Step 7: Save the merged dataset
merged_df.to_csv('dataset/manchester_city_merged_data.csv', index=False)

✅ Merged Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  678 non-null    object
 1   HomeTeam              678 non-null    object
 2   Result                678 non-null    object
 3   AwayTeam              678 non-null    object
 4   year                  678 non-null    int64
 5   month                 678 non-null    int64
 6   tmax                  678 non-null    float64
 7   tmin                  678 non-null    float64
 8   af                    678 non-null    float64
 9   rain                  678 non-null    float64
 10  sun                   678 non-null    float64
 11  Player                660 non-null    object
 12  Position              660 non-null    object
 13  Apearances            660 non-null    float64
 14  Goals                 660 non-null    float64
 15  Penalties             660 non-null    float64
 16  YellowCards           660 non-null    float64
 17  RedCards              660 non-null    float64
 18  Goals_per_Appearance  660 non-null    float64
dtypes: float64(11), int64(2), object(6)
memory usage: 100.8+ KB
None

First 5 rows of the merged dataset:
         Date           HomeTeam Result         AwayTeam  year  month  tmax  \
0  2021-08-15  Tottenham Hotspur    1:0  Manchester City  2021      8  21.3
1  2021-08-15  Tottenham Hotspur    1:0  Manchester City  2021      8  21.3
2  2021-08-15  Tottenham Hotspur    1:0  Manchester City  2021      8  21.3
3  2021-08-15  Tottenham Hotspur    1:0  Manchester City  2021      8  21.3
4  2021-08-15  Tottenham Hotspur    1:0  Manchester City  2021      8  21.3

   tmin   af  rain     sun           Player             Position  Apearances  \
0  13.2  0.0  65.6  172.65  Aymeric Laporte             Defender        43.0
1  13.2  0.0  65.6  172.65   Benjamin Mendy             Defender         2.0
2  13.2  0.0  65.6  172.65       Ben Knight           Midfielder         0.0
3  13.2  0.0  65.6  172.65   Bernardo Silva   Midfielder/Forward        46.0
4  13.2  0.0  65.6  172.65    CJ Egan-Riley  Defender/Midfielder         2.0

   Goals  Penalties  YellowCards  RedCards  Goals_per_Appearance
0    4.0        0.0          7.0       1.0              0.093023
1    0.0        0.0          0.0       0.0              0.000000
2    0.0        0.0          0.0       0.0              0.000000
3   13.0        0.0          6.0       0.0              0.282609
4    0.0        0.0          0.0       0.0              0.000000

In [8]:
# Check rows with null values
null_rows = merged_df[merged_df['Player'].isna()]
print("Rows with null Player values:")
print(null_rows[['Date', 'HomeTeam', 'Result', 'AwayTeam', 'year']])

Rows with null Player values:
           Date                 HomeTeam Result                  AwayTeam  \
660  2022-01-01                  Arsenal    1:2           Manchester City
661  2022-01-15          Manchester City    1:0                   Chelsea
662  2022-01-22              Southampton    1:1           Manchester City
663  2022-02-09          Manchester City    2:0                 Brentford
664  2022-02-12             Norwich City    0:4           Manchester City
665  2022-02-19          Manchester City    2:3         Tottenham Hotspur
666  2022-02-26                  Everton    0:1           Manchester City
667  2022-03-06          Manchester City    4:1         Manchester United
668  2022-03-14           Crystal Palace    0:0           Manchester City
669  2022-04-02                  Burnley    0:2           Manchester City
670  2022-04-10          Manchester City    2:2                 Liverpool
671  2022-04-20          Manchester City    3:0  Brighton and Hove Albion
672  2022-04-23          Manchester City    5:1                   Watford
673  2022-04-30             Leeds United    0:4           Manchester City
674  2022-05-08          Manchester City    5:0          Newcastle United
675  2022-05-11  Wolverhampton Wanderers    1:5           Manchester City
676  2022-05-15          West Ham United    2:2           Manchester City
677  2022-05-22          Manchester City    3:2               Aston Villa

     year
660  2022
661  2022
662  2022
663  2022
664  2022
665  2022
666  2022
667  2022
668  2022
669  2022
670  2022
671  2022
672  2022
673  2022
674  2022
675  2022
676  2022
677  2022

In [9]:
# Check number of Manchester City matches
mc_matches = df_matches[(df_matches['HomeTeam'] == 'Manchester City') | (df_matches['AwayTeam'] == 'Manchester City')]
print(f"Number of Manchester City matches: {len(mc_matches)}")

Number of Manchester City matches: 38

In [10]:
import pandas as pd

# Step 1: Create df_players from the provided player data
player_data = [
    {"Team": "Manchester City", "JerseyNo": 6, "Player": "Nathan Aké", "Position": "Defender", "Apearances": 19, "Substitutions": 8, "Goals": 3, "Penalties": 0, "YellowCards": 2.0, "RedCards": 0.0},
    {"Team": "Manchester City", "JerseyNo": 20, "Player": "Bernardo Silva", "Position": "Midfielder/Forward", "Apearances": 46, "Substitutions": 4, "Goals": 13, "Penalties": 0, "YellowCards": 6.0, "RedCards": 0.0},
    # ... (بقیه داده‌های بازیکنان که قبلاً فرستادی)
    {"Team": "Manchester City", "JerseyNo": 11, "Player": "Olexsandr Zinchenko", "Position": "Defender/Midfielder", "Apearances": 18, "Substitutions": 10, "Goals": 0, "Penalties": 0, "YellowCards": 2.0, "RedCards": 0.0}
]
df_players = pd.DataFrame(player_data)

# Step 2: Create df_matches from the provided matches data
matches_data = [
    {"Date": "2021-08-15", "HomeTeam": "Tottenham Hotspur", "Result": "1:0", "AwayTeam": "Manchester City", "year": 2021, "month": 8, "tmax": 21.3, "tmin": 13.2, "af": 0.0, "rain": 65.6, "sun": 172.65},
    {"Date": "2021-08-21", "HomeTeam": "Manchester City", "Result": "5:0", "AwayTeam": "Norwich City", "year": 2021, "month": 8, "tmax": 21.3, "tmin": 13.2, "af": 0.0, "rain": 65.6, "sun": 172.65},
    # ... (بقیه داده‌های بازی‌ها که قبلاً فرستادی)
    {"Date": "2022-05-22", "HomeTeam": "Manchester City", "Result": "3:2", "AwayTeam": "Aston Villa", "year": 2022, "month": 5, "tmax": 17.03333333333333, "tmin": 6.95, "af": 0.9166666666666666, "rain": 22.616666666666667, "sun": 217.05}
]
df_matches = pd.DataFrame(matches_data)

# Step 3: Create Goals_per_Appearance
df_players['Goals_per_Appearance'] = df_players['Goals'] / df_players['Apearances'].replace(0, 1)

# Step 4: Aggregate player stats by season (year)
player_stats_by_year = df_players.groupby(['Player', 'Position']).agg({
    'Apearances': 'sum',
    'Goals': 'sum',
    'Penalties': 'sum',
    'YellowCards': 'sum',
    'RedCards': 'sum',
    'Goals_per_Appearance': 'mean'
}).reset_index()

# Step 5: Add year column to player stats (split for 2021 and 2022 if needed)
player_stats_2021 = player_stats_by_year.copy()
player_stats_2021['year'] = 2021
player_stats_2022 = player_stats_by_year.copy()
player_stats_2022['year'] = 2022
player_stats_by_year = pd.concat([player_stats_2021, player_stats_2022])

# Step 6: Filter matches for Manchester City
mc_matches = df_matches[(df_matches['HomeTeam'] == 'Manchester City') | (df_matches['AwayTeam'] == 'Manchester City')].copy()
print(f"Number of Manchester City matches: {len(mc_matches)}")

# Step 7: Merge with matches dataset
merged_df = mc_matches.merge(player_stats_by_year, on='year', how='left')

# Step 8: Check for null values
print("Rows with null Player values:")
print(merged_df[merged_df['Player'].isna()][['Date', 'HomeTeam', 'Result', 'AwayTeam', 'year']])

# Step 9: Display the merged dataset info
print("\n✅ Merged Dataset Info:")
print(merged_df.info())
print("\nFirst 5 rows of the merged dataset:")
print(merged_df.head())

# Step 10: Save the merged dataset
merged_df.to_csv('manchester_city_merged_data.csv', index=False)

Number of Manchester City matches: 3
Rows with null Player values:
Empty DataFrame
Columns: [Date, HomeTeam, Result, AwayTeam, year]
Index: []

✅ Merged Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  9 non-null      object
 1   HomeTeam              9 non-null      object
 2   Result                9 non-null      object
 3   AwayTeam              9 non-null      object
 4   year                  9 non-null      int64
 5   month                 9 non-null      int64
 6   tmax                  9 non-null      float64
 7   tmin                  9 non-null      float64
 8   af                    9 non-null      float64
 9   rain                  9 non-null      float64
 10  sun                   9 non-null      float64
 11  Player                9 non-null      object
 12  Position              9 non-null      object
 13  Apearances            9 non-null      int64
 14  Goals                 9 non-null      int64
 15  Penalties             9 non-null      int64
 16  YellowCards           9 non-null      float64
 17  RedCards              9 non-null      float64
 18  Goals_per_Appearance  9 non-null      float64
dtypes: float64(8), int64(5), object(6)
memory usage: 1.5+ KB
None

First 5 rows of the merged dataset:
         Date           HomeTeam Result         AwayTeam  year  month  tmax  \
0  2021-08-15  Tottenham Hotspur    1:0  Manchester City  2021      8  21.3
1  2021-08-15  Tottenham Hotspur    1:0  Manchester City  2021      8  21.3
2  2021-08-15  Tottenham Hotspur    1:0  Manchester City  2021      8  21.3
3  2021-08-21    Manchester City    5:0     Norwich City  2021      8  21.3
4  2021-08-21    Manchester City    5:0     Norwich City  2021      8  21.3

   tmin   af  rain     sun               Player             Position  \
0  13.2  0.0  65.6  172.65       Bernardo Silva   Midfielder/Forward
1  13.2  0.0  65.6  172.65           Nathan Aké             Defender
2  13.2  0.0  65.6  172.65  Olexsandr Zinchenko  Defender/Midfielder
3  13.2  0.0  65.6  172.65       Bernardo Silva   Midfielder/Forward
4  13.2  0.0  65.6  172.65           Nathan Aké             Defender

   Apearances  Goals  Penalties  YellowCards  RedCards  Goals_per_Appearance
0          46     13          0          6.0       0.0              0.282609
1          19      3          0          2.0       0.0              0.157895
2          18      0          0          2.0       0.0              0.000000
3          46     13          0          6.0       0.0              0.282609
4          19      3          0          2.0       0.0              0.157895